{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/assets/css/homepage.min.css">
{% endblock %}

{% block precontent %}
<div class="backdrop"></div>
<div class="overlay">
    <div class="jumbotron">
        <div class="container">
            <h1>Jamie Mansfield</h1>
            <p>Simplicity is the ultimate sophistication.</p>

            <div class="social">
                <a class="link" href="https://twitter.com/jamiethecoder">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>

                <a class="link" href="https://github.com/jamierocks">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

                <a class="link" href="mailto:dev@jamierocks.uk">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>

                <a class="link" href="/blog">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="section about">
    <div class="container">
        <h1>About Me</h1>
        <h3>I'm a developer who focuses on Java and Web</h3>
        <hr>

        <p>
            I am a dedicated developer who likes to constantly learn new skills. I regularly review my code and as such rewrites and huge refactors
            are common. Starting off with web development and moving into Minecraft modding I have a wide knowledge of programming. Most of my
            skills are in Web (HTML, CSS, Golang) and Java.
        </p>
    </div>
</div>

<div class="section projects">
    <div class="container">
        <h1>Projects</h1>
        <h3>Here are some of my favourite projects</h3>
        <hr>

        <div class="row">
            <div class="col-md-4 col-xs-12">
                <a class="link" href="http://mana.jamierocks.uk/">
                    <img src="/assets/img/projects/mana.png" alt="Mana">&nbsp;
                    <h2>Mana</h2>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a class="link" href="https://www.lexteam.xyz/">
                    <img src="/assets/img/projects/lexsite.png" alt="lex-site">&nbsp;
                    <h2>lex-site</h2>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a class="link" href="https://blockjam.org/">
                    <img src="/assets/img/projects/blockjam.png" alt="BlockJam">&nbsp;
                    <h2>BlockJam</h2>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
