<div class="footer">
    <div class="container light">
        <h2>Sponsors</h2>
        <br>

        <div class="row dark">
            <div class="col-md-4 col-xs-12">
                <a href="http://partners.creeper.host/r/jamierocksvpv">
                    <img src="/assets/img/partners/creeperhost.svg" alt="CreeperHost" style="width: 100%">
                </a><br>
                <span>(Use promo code 'jamierocksvpv' for 10% your first month.)</span>
            </div>
        </div>
        <hr>

        <h2>Contact Me</h2>
        <br>

        <div class="row dark">
            <div class="col-md-4 col-xs-12">
                <a href="https://twitter.com/jamiethecoder">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <span>@jamiethecoder</span>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="skype:jamierocks_">
                    <i class="fa fa-skype" aria-hidden="true"></i>
                    <span>@jamierocks_</span>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="mailto:dev@jamierocks.uk">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>dev@jamierocks.uk</span>
                </a>
            </div>
        </div>
        <hr>

        <p>Copyright &copy; 2016-2017, Jamie Mansfield</p>
    </div>
</div>
