html,
body {
  font-family: 'Roboto', sans-serif; }

.main hr {
  margin: 20px 0;
  border-color: rgba(51, 51, 51, 0.65);
  opacity: 0.3; }

.footer {
  width: 100%;
  text-align: center;
  background-color: #333333; }
  .footer .light {
    color: white; }
  .footer .dark * {
    color: lightgrey; }
  .footer i {
    font-size: 35px;
    padding-left: 8px;
    padding-right: 8px; }
  .footer hr {
    border-color: rgba(255, 255, 255, 0.65); }
