.section {
  width: 100%;
  left: 0;
  padding: 20px;

  background-color: #f3efe0;

  h1 {
    margin-top: 0;
  }

  p {
    font-size: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:nth-child(2n + 1) {
    background-color: white;
  }
}
