<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- custom css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/webrocks.css">

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto">
</head>
<body>

{% block precontent %}{% endblock %}

<div class="main">
    {% block content %}{% endblock %}
    <div class="footer">
        <div class="container light">
            <h2>Contact Me</h2>
            <hr>

            <div class="row dark">
                <div class="col-md-4 col-xs-12">
                    <a href="https://twitter.com/LexteamJamie">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <span>@LexteamJamie</span>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12">
                    <a href="skype:jamierocks_">
                        <i class="fa fa-skype" aria-hidden="true"></i>
                        <span>@jamierocks_</span>
                    </a>
                </div>
                <div class="col-md-4 col-xs-12">
                    <a href="mailto:dev@jamierocks.uk">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>dev@jamierocks.uk</span>
                    </a>
                </div>
            </div>

            <hr>
            <p>Copyright &copy; 2016, Jamie Mansfield</p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% block javascript %}{% endblock %}

</body>
</html>
