{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/assets/css/blog.min.css">
{% endblock %}

{% block content %}
<div class="blog">
    {% for post in posts %}
    <div class="post">
        <div class="container">
            <h1>{{ post.Title }}</h1>
            <span>
                Authored by <a href="/author/{{ post.GetAuthor().Slug }}">{{ post.GetAuthor().Name }}</a>
                Published on {{ post.GetAuthor().CreatedAt }}</span>
            <hr>
            {{ post.Content|safe }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
