{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/assets/css/blog.min.css">
{% endblock %}

{% block precontent %}
<div class="backdrop"></div>
<div class="overlay">
    <div class="jumbotron">
        <div class="container">
            <h1>Blog</h1>
            <p>"Design is not just what it looks like and feels like. Design is how it works."</p>
            <p>- Steve Jobs</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="blog">
    {% for post in posts %}
    <div class="post">
        <div class="container">
            <h1><a href="/blog/{{ post.Slug }}">{{ post.Title }}</a></h1>
            <span>
                Authored by <a href="/author/{{ post.GetAuthor().Slug }}">{{ post.GetAuthor().Name }}</a>
                Published on {{ post.CreatedAt }}</span>
            <hr>
            {{ post.Content|safe }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
