{% extends "base.html" %}

{% block content %}
<div class="backdrop"></div>
<div class="overlay">
    <div class="jumbotron">
        <div class="container">
            <h1>Jamie Mansfield</h1>
            <p>Simplicity is the ultimate sophistication.</p>

            <div class="social">
                <a href="https://twitter.com/LexteamJamie">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>

                <a href="https://github.com/jamierocks">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>

                <a href="mailto:dev@jamierocks.uk">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
