{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/assets/css/blog.min.css">
{% endblock %}

{% block precontent %}
<div class="backdrop"></div>
<div class="overlay">
    <div class="jumbotron">
        <div class="container">
            <h1>{{ post.Title }}</h1>
            <p>Authored by <a href="/author/{{ post.GetAuthor().Slug }}">{{ post.GetAuthor().Name }}</a></p>
            <p>Published on {{ post.CreatedAt }}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="blog">
    <div class="post">
        <div class="container">
            {{ post.Content|safe }}
        </div>
    </div>
</div>
{% endblock %}
