---
layout: blogbase
---
<div class="overlay">
    <div class="jumbotron">
        <div class="container">
            <h1>{{ post.title }}</h1>
            <p>Authored by {{ post.author }}</p>
            <p>Published on {{ post.published }}</p>
        </div>
    </div>
</div>

<div class="main">
    <div class="blog">
        <div class="post">
            <div class="container">
                {{ post.content }}
            </div>
        </div>
    </div>
    {% include footer.html %}
</div>
